/*----------------Global class------------------*/

html {
	height: 100%;
}

body, textarea {
	font-family: Roboto,Helvetica,Arial,Microsoft YaHei,SimHei,sans-serif;
	margin: 0;
	height: inherit;
}

button:focus, textarea:focus {
	outline: none;
}

.container{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.clear{
	clear: both;
}

.people{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	color: #898b95;
	font-size: 14px;
}


.time{
	/* padding-left: 10px; */
	padding-top: 5px;
	padding-bottom: 5px;
	color: #898b95;
	font-size: 14px;
}

.upVote-count, .downVote-count{
	padding-top: 2px;
}

.downVote-count {
	padding-left: 10px;
}

.liked{
	background-color: #48C9FD;
}

.comment-content {
	margin: 0;
}

.comment {
	margin-bottom: 20px;
}

.fa {
	color: #4c4d50;
	cursor: pointer;
	font-size: 20px !important;
	font-weight: bolder;
}

.vote-area {
	color: #898b95;
	padding-top: 3px;
}

.vote-icon-clicked, .count-changed {
	color: #6036ff;
}


/*-----------------ID----------------------------*/

#top{
	background-color: #325386d1;
	color: white;
}

#lecturer{
	display: block;
	padding: 10px;	
}

#question-content{
	display: block;
	padding-top: 5px;
	height: 80px;
	border-bottom: 1px solid #e8e8ea;
}

#comment-button{
	border-bottom: 2px solid;
	padding: 10px;
	color: #325386d1;
	cursor: pointer;
}

#bottom{
	background-color: #f3f3f4;
	height: fit-content;
	min-height: 75%;
}

#comment-text{
	border: 2px solid #aaa;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: inherit !important;
	font-size: 1em;
	padding: 10px;
	resize: none;
	width: 100%;
}

#enter-button{
	float: right;
	background-color: #325386d1;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin: 8px 0;
	padding: 15px 35px;
}

#enter-button:hover {
	background-color: rgba(62, 111, 174, 0.82)
}

#event-name {
	color: #ffdb4f;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0;
	text-transform: capitalize;
}


/*------------------Tag--------------------------*/

img.profile-circle{
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 10px;
}

button.comment-enter{
	border: none;
	background-color: inherit;
	width: 150px;
	height: 50px;
	font-size: 17px;
}

button.up-vote, button.down-vote{
	border: none;
	background-color: inherit;
	padding: 0;
	padding-right: 5px;
}

p.upVote-count, p.downVote-count{
	float: left;
}
