body{
	font-family: Roboto,Helvetica,Arial,Microsoft YaHei,SimHei,sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f3f3f4;
}

button:focus, input:focus, textarea:focus {
	outline: none;
}


#header{
	font-size: 1.3em;
    padding-top: 10px;
	background-color: #325386d1;
}
#body{
	height: 90%;

}
#add-image{
	position: relative;
	margin-left: 45%;
	width: 75px;
	height: 75px;
}
#add-image:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

#form-input{
	width: 100%;
	align-items: center;
	justify-content: center;
}
#title{
    color: #673AB7;
    font-size: 26px;
    font-weight: 400;
	text-align: center;
    text-transform: capitalize;
}

#user-id {
	color: #ffffffb0;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

#user-id span {
	color: #ff7474;
    font-weight: bold;
    font-style: normal;
}

#list-question{
    clear: right;
	width: 60%;
	background-color: #fff;
	margin: 0 auto 50px;
	word-break: break-all;
}
#input-question, #input-author{
	border: 2px solid #aaa;
	border-radius: 5px;
    box-sizing: border-box;
    font-family: inherit !important;
    font-size: 1em;
    padding: 10px;
    width: 100%;
}

#input-question {
    resize: none;
}

#input-zone {
    margin: 0 auto;
    width: 60%;
}

#done-button, #cancel-button{
	background-color: #325386d1;
    cursor: pointer;
	color: white;
	border: none;
	border-radius: 5px;
	float: right;
	font-size: 0.9em;
	margin: 8px 5px;
	padding: 15px 35px;
}

#cancel-button {
    margin-right: 0;
}

#done-button:hover, #cancel-button:hover{
    background-color: rgba(62, 111, 174, 0.82)
}

#event-name {
	color: #ffdb4f;
    font-weight: 500;
	margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
}

#event-name span {
    color: #ffffffb0;
	font-size: 25px;
    font-weight: normal;
    font-style: italic;
}

#symbol {
	color: #f3f3f4;
    text-align: center;
    font-size: 4em;
    margin: 2px;
}

.loader-container {
	width: 50px;
	height: 50px;
	margin: auto;
}

.loader {
	animation: 1s linear infinite rotate;
	display: inline-block;
	border: 0 solid #325386d1;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 4px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.reply-button{
	background: none;
	border: none;
	cursor: pointer;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
}

.big-loader {
	width: inherit;
	height: inherit;
}

table {
	border: none;
}

.question-block {
	border: transparent;
	border-bottom-color: #E8E8EA;
}

.author, .reply-button {
	color: #898B95;
}

.author {
    line-height: 1.5em;
}


.vote-zone {
	text-align: center;
	width: 10%;
}

.vote-icon {
	border: 1px solid #C3C3C9;
	border-radius: 50%;
	color: #C3C3C9;
	cursor: pointer;
	font-size: 2.5em;
	margin-bottom: 8px;
	padding: 1px 8px;
	vertical-align: text-top;
}

.vote-icon-clicked {
	border: 1px solid #325386d1;
	color: #325386d1;
}

.vote-count {
	font-weight: bold;
	font-size: 1.2em;
}