<!DOCTYPE html>
<html>
<head>
	<title>Admin Panel</title>
	<link rel="stylesheet" type="text/css" href="/userManagement/userManagement.css">
</head>
<body style="background-color: #f3f3f4;">
	<div id="header" style="color: #ffdb4f;background-color: #325386d1;"><h1 id="even-name">Quản lý người dùng</h1></div><br>
	<div id="container">
		<div class="form-popup" id="myForm">
		      <form class="form-container">

		        <label for="name"><b>Tên sự kiện</b></label>
		        <input type="text" value="" name="name" id="input" required>

		        <input type="button" class="btn save" onclick="saveVal()" value="Lưu"></input>
		        <input type="button" class="btn cancel" onclick="closeForm()" value="Hủy"></input>
		      </form>
		    </div>
		<div id="session-list-container">
			<div class="tb1Name" style="border: 2px solid #aaa;"><b>Giảng viên</b>
				<table id="lecturer-list">
					<!-- <tr>
						<div class="session">
							<div class="icon-session"></div>
							<div class="session-info">
								<div class="session-name">Lecturer 1</div>
							</div>
						</div>
					</tr><br> -->
				</table>
			</div>
			<!-- <br>
			<br> -->
			<div class="tb2Name" style="border: 2px solid #aaa;"><b>Sinh viên</b>
				<table id="student-list">
					<!-- <tr>
						<div class="session">
							<div class="icon-session"></div>
							<div class="session-info">
								<div class="session-name">Student 1</div>
							</div>
						</div>
					</tr><br> -->
				</table>
				<!-- <img src="add.png" id="plus" onclick="add()"> -->
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="/userManagement/userManagement.js"></script>
</body>
</html>